body {
    background-image:url("./img/141193.jpg");
    animation-name: MAGIC;
    animation-duration: 25s;
    /* animation-iteration-count: infinite; */
    background-repeat:no-repeat;
    margin:0px;
    padding:0px;
}
@keyframes MAGIC {
    from{background-image:url("./img/umbra.jpg")}
    to {background-image:url("./img/141193.jpg")}
}
h1 {
    font-family: 'Special Elite', cursive;
    text-align: center;
    /* background-color:black; */
    animation-name: TEXT;
    animation-duration: 8s;
    /* animation-iteration-count: infinite; */
    color:red;
    
    
}
@keyframes TEXT {
    from{color:black;}
    to{color:whitesmoke;}
}
.Welcome {
    animation-name: TEXT;
    animation-duration: 35s;
    color:red;
    font-family: 'Special Elite', cursive;
    display:inline;
}
.text2 {
    animation-name: TEXT;
    animation-duration: 40s;
    color:red;
    font-family: 'Special Elite', cursive;
    display:inline;
}
.text3 {
    animation-name: TEXT;
    animation-duration: 45s;
    color:red;
    font-family: 'Special Elite', cursive;
    /* display:inline; */

}
.text4 {
    animation-name: TEXT;
    animation-duration: 50s;
    color:red;
    font-family: 'Special Elite', cursive;
    display:inline;

}
.Tot {
    text-align:center;
     font-size:50px;
    animation-name:customtext;
    animation-duration:30s;

}
